.role-admin {
    color: red
}

.role-editor {
    color: orange
}

.role-user {
    color: green
}

.wwmap-user-row {

}
.wwmap-user-row-experimental {
    background-color: #f77;
}


.wwmap-changes-log-change {
    background-color: #fcf8e3;
}

.wwmap-changes-log-create {
    background-color: #f0fcf0;
}

.wwmap-changes-log-delete {
    background-color: #fcf0f0;
}

ul {
    list-style-type: none;
}

.ti-tags {
    list-style-type: none;
    padding: 0;
}

.ti-tag {
    background-color: #5C6BC0;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    font-size: .85em;
}

.raw-text-content {
    white-space: pre;
}

div.wwmap-settings {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

div.wwmap-settings label {
    text-align: right;
    margin-right: 15px;
}

div.wwmap-settings label:after {
    content: ":";
}
