#!/usr/bin/make -f
%:
	dh $@

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)

build:
	npm i
	npm run build -- --env.APP_ENV=production --env.VERSION=$(DEB_VERSION)
	rm js/*.js.map

override_dh_auto_install:
	install -d $$(pwd)/debian/wwmap-api/var/lib/wwmap/frontend/js
	install -D -m 0644 js/* $$(pwd)/debian/wwmap-api/var/lib/wwmap/frontend/js/
