#!/usr/bin/make -f
%:
	dh $@

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)

build:
	go install github.com/go-bindata/go-bindata
	cd ../lib/; go generate -x ./...
	cd ../cron/; go generate -x ./...
	# Tests
	cd ../lib/; go test ./...
	go test ./...
	# Build
	go build -ldflags "-X main.version=$(DEB_VERSION)"

override_dh_auto_install:
	install -D -m 0755 backend $$(pwd)/debian/wwmap-backend/usr/bin/wwmap-backend
	install -D -m 0644 etc/wwmap-backend.systemd $$(pwd)/debian/wwmap-backend/lib/systemd/system/wwmap-backend.service
