#!/usr/bin/make -f
%:
	dh $@

build:
	go build

install:
	install -D -m 0755 backend $$(pwd)/debian/wwmap-backend/usr/bin/wwmap-backend
	install -D -m 0644 ../config.yaml $$(pwd)/debian/wwmap-backend/etc/wwmap/config.yaml
	install -D -m 0644 etc/wwmap-backend.systemd $$(pwd)/debian/wwmap-backend/lib/systemd/system/wwmap-backend.service
