Source: wwmap-db
Maintainer: Andrey Khomyakov <and.hom@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: misc

Package: wwmap-db
Priority: extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Database migrations for whitewater map