<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WWMap</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/vex.css"/>
    <link rel="stylesheet" href="css/vex-theme-default.css"/>
    <link rel="stylesheet" href="css/jquery-te-1.4.0.css"/>
    <link rel="stylesheet" href="css/bootstrap-editable.css"/>
</head>
<body>
<header class="navbar navbar-light navbar-static-top bd-navbar">
    <div class="container">
        <nav>
            <div class="clearfix">
                <button class="navbar-toggler float-xs-right hidden-sm-up" type="button" data-toggle="collapse"
                        data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false"
                        aria-label="Toggle navigation"></button>
                <a class="navbar-brand hidden-sm-up" href="/">
                    Home
                </a>
            </div>
            <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="./index.htm"
                           onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Карта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="./upload.htm"
                           onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Новая история</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="./about.htm"
                           onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">О проекте</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<h2 id="title" style="display: inline;" class="route-name-edit">Трек без названия</h2>
<select id="category" style="margin-left: 30px; padding: 0px 0px 0px 9px;">
    <option/>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
</select>
<img id="del-route" class="img-button" style="float:right; margin-right: 10px;" src="./img/del.png" width="32"
     height="32"/>
<div style="height: 30px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div id="map" style="witdh:800px; height: 400px; margin: 10px;"></div>
        </div>
        <div class="col-sm-4">
            <div id="trackList"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <div id="articles" class="articles-container">

            </div>
        </div>
    </div>
</div>

<div id="article-editor" style="display: none;">
    <textarea name="article" class="editorEx"></textarea>
</div>

<script type="text/x-jquery-tmpl" id="tracksMenuTemplate">
        <ul>
        {{each tracks}}
            <li class='track-list-item' id='track-item-${$value.id}'>
            <span id="track-name-${$value.id}" class="track-name-edit">${$value.title}</span>
            <span style="float:right;"><img id="track-del-${$value.id}" class="img-button track-del" style="float:right; margin-right: 10px;" src="./img/del.png" width="16" height="16"/></span>
            <span class="track-length">${Math.round(($value.length)/1000)}&nbsp;км</span>
            <span style="float:right;"><select class="track-type-select" id="track-type-${$value.id}">
                <option></option>
                <option value="pd" {{if $value.type == "pd"}} selected="selected" {{/if}}>Пеший</option>
                <option value="bk" {{if $value.type == "bk"}} selected="selected" {{/if}}>Вело</option>
                <option value="ww" {{if $value.type == "ww"}} selected="selected" {{/if}}>Вода</option>
            </select></span>
            <div class="track-geodata" style="display:none">${JSON.stringify($value.path)}</div></li>
        {{/each}}
        </ul>








</script>

<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./js/jquery.tmpl.js"></script>
<script type="text/javascript" src="./js/tether.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/jquery.cookie.js"></script>
<script type="text/javascript" src="./js/jquery.json.js"></script>
<script type="text/javascript" src="./js/vex.combined.min.js"></script>
<script type="text/javascript" src="./js/jquery-te-1.4.0.min.js"></script>
<script type="text/javascript" src="./js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="./js/jquery.snippet.min.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/index.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/config.js" charset="utf-8"></script>

<script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=tr_TR"></script>
<script type="text/javascript">
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    };
    const id = $.urlParam('id');

    const PHOTO = 'photo';
    const VIDEO = 'video';
    const POST = 'post';


    ymaps.ready(init);
    var myMap;
    var objectManager;
    var trackHighlighter = {val: null};

    vex.defaultOptions.className = 'vex-theme-default';

    function init() {
        myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 8,
            controls: ["zoomControl", "fullscreenControl"]
        });

        $.get(apiBase + '/route-editor-page?id=' + id, function (data) {
            page = $.parseJSON(data);
            $('#title').html(page.title);
            $('#category').val(page.category)
            myMap.setBounds(page.bounds);
            for (var i in page.points) {
                var eventPointId = page.points[i].id;
                var content = page.points[i].content;
                var type = page.points[i].type;
                var title = page.points[i].title;
                var articleHtml = mkWrappedHtml(eventPointId, type, title, content);

                $('#articles').append(articleHtml);
            }
            $('#trackList').html('');
            $('#tracksMenuTemplate').tmpl(page).appendTo('#trackList');
            $('.track-type-select').on('change', function (e) {
                updateTrackData($(e.target).attr("id").substring(11))
            });
            $.fn.editable.defaults.mode = 'inline';
            $('.track-name-edit').editable({
                type: 'text',
                send: 'never',
                showbuttons: false,
                url: function (params) {
                    updateTrackData(params.name.substring(11), params.value)
                }
            });
            $('.track-del').on('click', function (e) {
                var trackId = $(e.target).attr("id").substring(10);

                vex.dialog.confirm({
                    message: 'Удалить трек ' + $('#track-name-' + trackId).html() + '?',
                    callback: function (value) {
                        if (value) {
                            $.ajax({
                                url: apiBase + '/track/' + trackId,
                                type: 'DELETE',
                                success: function (result) {
                                    $('#track-item-' + trackId).remove()
                                }
                            });
                        }
                    }
                });
            });
            $('.route-name-edit').editable({
                type: 'text',
                send: 'never',
                showbuttons: false,
                url: function (params) {
                    updateRouteData(params.value)
                }
            });
            $('#category').on("change", function () {
                updateRouteData()
            })


            addMouseOverOutHighliterListeners('.track-list-item', '.track-geodata', 'track-list-item-selected', function (geoData) {
                return new ymaps.Polyline(
                        geoData, {},
                        {
                            strokeColor: 'ff0000ff',
                            strokeWidth: 3
                        }
                );
            }, trackHighlighter);
        });

        myMap.events.add('click', showMapMenu);
        myMap.events.add('contextmenu', showMapMenu);

        objectManager = new ymaps.LoadingObjectManager(apiBase + '/ymaps-single-route-tile?id=' + id, {
            geoObjectHasBalloon: false,
            splitRequests: true,
            geoObjectStrokeWidth: 3
        });
        addContextMenu(objectManager);


        myMap.geoObjects.add(objectManager);

        $('body').on('input', '.monitored-img-url', throttle(fetchImgOptions, 1500));

        $('#edit-title').on('click', function () {
            vex.dialog.prompt({
                placeholder: 'Новое название',
                value: $('#title').html(),
                callback: function (value) {
                    $('#title').html(value);
                    updateRouteData();
                }
            });
        });

        $('#del-route').on('click', function () {
            vex.dialog.confirm({
                message: 'Удалить маршрут вместе со всеми треками и точками?',
                callback: function (value) {
                    if (value) {
                        $.ajax({
                            url: apiBase + '/route/' + id,
                            type: 'DELETE',
                            success: function (result) {
                                window.location.href = './'
                            }
                        });
                    }
                }
            });
        });
    }

    function updateRouteData(title) {
        $.ajax({
            url: apiBase + '/route/' + id,
            type: 'PUT',
            data: {
                title: title ? title : $('#title').html(),
                category: $('#category').val()
            }
        }).done(function (data) {
        });
    }

    function updateTrackData(trackId, titleOptional) {
        $.ajax({
            url: apiBase + '/track/' + trackId,
            type: 'PUT',
            data: {
                type: $('#track-type-' + trackId).val(),
                title: titleOptional ? titleOptional : $('#track-name-' + trackId).html()
            }
        }).done(function (data) {
        });
    }

    function showMapMenu(e) {
        var coords = e.get('coords');

        // remove context menu
        $('#menu').remove();

        vex.dialog.open({
                    buttons: [
                        $.extend({}, vex.dialog.buttons.YES, {text: 'Фото', click: vexButtonVal(PHOTO)}),
                        $.extend({}, vex.dialog.buttons.YES, {text: 'Видео', click: vexButtonVal(VIDEO)}),
                        $.extend({}, vex.dialog.buttons.YES, {
                            text: 'Запись',
                            click: vexButtonVal(POST),
                            className: 'vex-dialog-button-primary'
                        })
                    ],
                    callback: function (type) {
                        showAddOrEditDialog(coords, "", type, "", addPlacemark)
                    }
                }
        );
    }

    function showAddOrEditDialog(coords, content, type, title, editFunc) {
        if (!type) {
            return
        }
        switch (type) {
            case PHOTO:
                vex.dialog.open({
                    input: '<label for="url">Прямая ссылка на фото в интернете</label>' +
                    '<input id="url" style="width: 100%" class="monitored-img-url" name="url" value="' + content + '"/>' +
                    '<div id="img_options" style="margin-top: 8px;"></div>',
                    callback: function (value) {
                        if (value) {
                            editFunc(coords, value.url, type, "")
                        }
                    }
                });
                break;
            case VIDEO:
                vex.dialog.prompt({
                    placeholder: 'Ссылка на youtube',
                    callback: function (value) {
                        if (value) {
                            editFunc(coords, value, type, "")
                        }
                    }
                });
                break;
            case POST:
                vex.dialog.open({
                    input: '<textarea name="article" class="editorEx">' + content + '</textarea>',
                    callback: function (articleData) {
                        if (articleData) {
                            editFunc(coords, articleData['article'], type, "")
                        }
                    },
                    contentClassName: 'vex-wide'
                });
                $(".editorEx").jqte();
                break;
            default:
                vex.dialog.alert('Это ещё не сделано!')
        }
    }

    function fetchImgOptions(e) {
        var url = $(e.target).val();
        $.post(apiBase + '/picture-metadata', url.trim(), function (data) {
            var imgOptions = $('#img_options');
            imgOptions.html("");
            metadata = $.parseJSON(data);
            if (metadata.timestamp) {
                imgOptions.append("<p><b>Дата снимка: </b>" + metadata.timestamp + "</p>");
            }
            if (metadata.coords) {
                imgOptions.append("<p><b>Место снимка: </b>" + metadata.coords + "</p>");
            }
        });
    }

    function addPlacemark(coords, content, type, title) {
        $.post(apiBase + '/point', {
            route_id: id,
            type: type,
            title: title,
            content: content,
            point: JSON.stringify(coords)
        }, function (eventPointId) {
            // this workaround used to prevent data reload on placemark add.
            // there is screen flicker on data reload
            var placemark = new ymaps.Placemark(coords, {
                id: eventPointId,
                type: type,
            }, {});

            switch (type) {
                case VIDEO:
                    placemark.options.set({preset: 'islands#blueVideoIcon'});
                    break;
                case PHOTO:
                    placemark.options.set({preset: 'islands#blueVegetationIcon'});
                    break;
                case POST:
                    placemark.options.set({preset: 'islands#blueBookIcon'});
                    break
            }

            var articleHtml = mkWrappedHtml(eventPointId, type, title, content);

            addContextMenu(placemark);
            myMap.geoObjects.add(placemark);

            $('#articles').append(articleHtml);
        });
    }

    function modifyPlacemark(id, coords, content, type, title) {
        $.ajax({
            url: apiBase + '/point/' + id,
            type: 'PUT',
            data: {
                track_id: id,
                type: type,
                title: title,
                content: content,
                point: JSON.stringify(coords)
            }
        }).done(function (data) {
            var pointData = $.parseJSON(data);
            $('#article' + pointData.id).html(mkHtml(pointData.title, pointData.type, pointData.content))
        });
    }

    function mkWrappedHtml(id, type, title, content) {
        return '<p id="article' + id + '" class="' + type + '-article">' + mkHtml(title, type, content) + "</p>"
    }

    function mkHtml(title, type, content) {
        switch (type) {
            case VIDEO:
                return mkVideoHtml(title, content);
            case PHOTO:
                return mkPhotoHtml(title, content);
            case POST:
                return mkPostHtml(title, content);
        }
    }

    function mkPostHtml(title, content) {
        return '<span class="article-title">' + title + '</span>&nbsp;&nbsp;' + content;
    }

    function mkPhotoHtml(title, content) {
        return '<span class="article-title">' + title + '</span><img src="' + content + '"/>';
    }

    function mkVideoHtml(title, content) {
        return 'Not supported yet';
    }

    function vexButtonVal(val) {
        return function ($vexContent, event) {
            this.value = val;
            this.close();
        };
    }

    function addContextMenu(obj) {
        // Контекстное меню, позволяющее изменить параметры метки.
        // Вызывается при нажатии правой кнопкой мыши на метке.
        obj.events.add('contextmenu', showContextMenu);
        obj.events.add('click', showContextMenu);
    }

    function showContextMenu(e) {
        placemark = e.get("target");
        // Если меню метки уже отображено, то убираем его.
        if ($('#menu').css('display') == 'block') {
            $('#menu').remove();
        } else {
            // HTML-содержимое контекстного меню.
            var menuContent =
                    '<div id="menu">\
                    <div align="center"><input type="submit" name="editPlacemark" value="Редактировать"/></div>\
                    <div align="center"><input type="submit" name="delPlacemark" value="Удалить"/></div>\
                    </div>';

            // Размещаем контекстное меню на странице
            $('body').append(menuContent);

            // Задаем позицию меню.
            $('#menu').css({
                left: e.get('pagePixels')[0],
                top: e.get('pagePixels')[1]
            });

            $('#menu input[name="delPlacemark"]').click(function () {
                // id of object loaded by object manager
                var objectManagerPlacemarkId = e.get("objectId");
                var newlyCreatedPlacemarkId = placemark.properties ? placemark.properties.get("id") : null;
                var placemarkId = objectManagerPlacemarkId ? objectManagerPlacemarkId : newlyCreatedPlacemarkId;

                $.ajax({
                    url: apiBase + '/point/' + placemarkId,
                    type: 'DELETE',
                    success: function (result) {
                        if (newlyCreatedPlacemarkId) {
                            myMap.geoObjects.remove(placemark);
                        }
                        if (objectManagerPlacemarkId) {
                            objectManager.reloadData();
                        }
                        $('#article' + placemarkId).remove()
                    }
                });
                $('#menu').remove();
            });

            $('#menu input[name="editPlacemark"]').click(function () {
                // id of object loaded by object manager
                var objectManagerPlacemarkId = e.get("objectId");
                var newlyCreatedPlacemarkId = placemark.properties ? placemark.properties.get("id") : null;
                var placemarkId = objectManagerPlacemarkId ? objectManagerPlacemarkId : newlyCreatedPlacemarkId;

                $.get(apiBase + '/point/' + placemarkId, function (data) {
                    var pointData = $.parseJSON(data);
                    var coords = e.get('coords');

                    showAddOrEditDialog(coords, pointData.content, pointData.type, pointData.title,
                            function (coords, content, type, title) {
                                modifyPlacemark(pointData.id, pointData.point, content, pointData.type, title)
                            })
                });
                $('#menu').remove();
            });
        }
    }
</script>
</body>
</html>
