<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WWMap: upload whitewater points</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/upload-whitewater.css"/>
    <link rel="stylesheet" href="css/xeditable.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div ng-app="wwmap" ng-controller="Ctrl">
                <form editable-form id="tableform" name="tableform" onaftersave="saveTable()" oncancel="cancel()">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th>Название порога</th>
                            <th>OSM Id</th>
                            <th>Широта (lat)</th>
                            <th>Долгота (lon)</th>
                            <th>Категория</th>
                            <th>Краткое описание</th>
                            <th>Ссылка на вики</th>
                            <th/>
                        </tr>
                        <tr ng-repeat="point in points | filter : filterPoints">
                            <td>
                                <span editable-text="point.title" e-name="title" e-form="rowform"
                                      onbeforesave="checkTitle($data)">{{ point.title || 'empty' }}</span>
                            </td>
                            <td>
                                <span editable-text="point.osm_id" e-name="osm_id" e-form="rowform"
                                      onbeforesave="checkNumber($data, true)">{{ point.osm_id || 'empty' }}</span>
                            </td>
                            <td>
                                <span editable-text="point.lat" e-name="lat" e-form="rowform"
                                      onbeforesave="checkNumber($data)">{{ point.lat || 'empty' }}</span>
                            </td>
                            <td>
                                <span editable-text="point.lon" e-name="lon" e-form="rowform"
                                      onbeforesave="checkNumber($data)">{{ point.lon || 'empty' }}</span>
                            </td>
                            <td>
                            <span editable-select="point.category" e-name="category" e-form="rowform" e-style="width: 60px"
                                  e-ng-options="c.value as c.text for c in categories">
                                {{ showCategory(point) }}
                            </span>
                            </td>
                            <td>
                                <span editable-textarea="point.short_description" e-name="short_description" e-rows="5" e-cols="40"
                                      e-form="rowform" onbeforesave="checkLength($data, 512)">{{ point.short_description || 'empty' }}</span>
                            </td>
                            <td>
                                <span editable-text="point.link" e-name="link" e-form="rowform">{{ point.link || 'empty' }}</span>
                            </td>
                            <td><button type="button" ng-show="tableform.$visible" ng-click="deletePoint(point.title)" class="btn btn-danger pull-right">Del</button></td>
                        </tr>
                    </table>
                    <!-- buttons -->
                    <div class="btn-edit">
                        <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">edit</button>
                    </div>
                    <div class="btn-form" ng-show="tableform.$visible">
                        <button type="button" ng-disabled="tableform.$waiting" ng-click="addPoint()" class="btn btn-default">add row</button>
                        <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">Опубликовать!</button>
                        <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
                        <input style="float:right; margin-left:15px" type="file" name="geo_file" id="geo_file">
                        <label style="float:right" for="geo_file">Импортировть GPX файл</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="./js/tether.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/jquery.tmpl.js"></script>

<script src="./js/config.js"></script>

<script src="./js/angular.min.js"></script>
<script src="./js/angular-sanitize.min.js"></script>
<script src="./js/angular-mocks.js"></script>
<script src="./js/xeditable.min.js"></script>
<script src="./js/controller.js"></script>

<script type="text/javascript">
    function indexUrl() {
        var url = window.location.href;
        return url.substr(0, url.lastIndexOf('/') + 1) + 'map.htm'
    }

    $(document).ready(function () {
        $('#cancel').click(function () {
            window.location.href = indexUrl();
        })
        $('#redirect_to').attr('value', indexUrl())
        $('#cookie_path').attr('value', '/')
        $('#cookie_domain').attr('value', window.location.hostname)
    })

  function handleFileSelect(evt) {
        var files = evt.target.files

        for (var i = 0, f; f = files[i]; i++) {
            var reader = new FileReader();
            reader.onloadend = function(evt) {
                if (evt.target.readyState == FileReader.DONE) { // DONE == 2
                    var xmlContent = evt.target.result;
                    xmlDoc = $.parseXML( xmlContent ),
                    $xml = $( xmlDoc );
                    points = []
                    $xml.find("wpt").each(function() {
                        name = ($(this).find("name").html())
                        desc = ($(this).find("cmt").html())
                        lon = ($(this).attr("lon"))
                        lat = ($(this).attr("lat"))
                        point = {
                            "title" : name,
                            "lat" : lat,
                            "lon" : lon,
                            "short_description": desc
                        }
                        points.push(point)
                    })

                    var scope = angular.element($("#tableform")).scope()
                    scope.$apply(function(){
                        scope.append(points)
                    })
                }
            }

            reader.readAsText(f, "UTF-8");
        }
  }

  document.getElementById('geo_file').addEventListener('change', handleFileSelect, false);

</script>
</body>
</html>
