.menu-item {
    width: 100%;
}

ul {
    list-style-type: none;
}

.menu-item a {
    float: right;
    padding-left: 10px;
}

.menu-item .title-link {
    float: none;
    width: 100%;
    margin-bottom: 5px;
}

.menu-item ul {
    padding-left:10px;
}

.menu-item ul:last-child {
}


.auth {
    font-size: 89%;
    float: right;
}

.spot-desc {
    width: 100%;
    vertical-align: top;
}

.spot-desc .cell-title {
    font-weight: bold;
    background-color: #fafafa
}

.list-item-input {
    display: block;
    withd:400px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}


.d-center {
  display: flex;
  align-items: center;
}

.selected img {
  width: auto;
  max-height: 23px;
  margin-right: 0.5rem;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}

.wwmap-upload-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.wwmap-upload-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.wwmap-upload-drag .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}