.menu-item {
    width: 100%;
}

ul {
    list-style-type: none;
}

.menu-item a {
    float: right;
    padding-left: 10px;
}

.menu-item .title-link {
    float: none;
    width: 100%;
    margin-bottom: 5px;
}

.menu-item ul {
    padding-left:10px;
}

.menu-item ul:last-child {
}


.auth {
    font-size: 89%;
    float: right;
}

.spot-desc {
    width: 100%;
    vertical-align: top;
}

.spot-desc .cell-title {
    font-weight: bold;
    background-color: #fafafa
}

.list-item-input {
    display: block;
    withd:400px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}