.idea
*.iml

backend/.drafts
backend/backend

**/debian/files
**/debian/.debhelper
**/debian/debhelper*
**/debian/wwmap-*
!**/*cron.d

*.deb
*.ddeb
*.tar.gz
*.build
*.buildinfo
*.dsc
*.changes
*.upload

