ul {
    list-style-type: none;
}

.role-admin {
    color: red
}

.role-editor {
    color: orange
}

.role-user {
    color: green
}

.wwmap-user-row {

}
.wwmap-user-row-experimental {
    background-color: #f77;
}