@charset "utf-8";

/* Popup container */
.wwmap-popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.wwmap-popup_area {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* The actual popup (appears on top) */
.wwmap-popuptext {
    width: 600px;
    background-color: #eeeedd;
    text-align: left;
    border-radius: 3px;

    z-index: 1000;
    padding: 20px;
    margin: 80px auto 0;
    border: 1px solid black;

    height: auto;
    overflow: auto;
}

.wwmap-popuptext textarea {
    resize: none;
    width: 90%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.wwmap-show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


.wwmap-river-menu {
    padding-left: 0;
    width: 100%;
    display: table;
}
.wwmap-river-menu-item {
    display: table-row;
}
.wwmap-river-menu-title {
    display: table-cell;
}
.wwmap-river-menu-controls {
    display: table-cell;
}
.wwmap-river-menu table {
    width: 100%;
}
.wwmap-river-menu td {
    text-align: left
}
.wwmap-river-menu .title-col {
    width: 250px;
}

.wwmap-river-menu .gpx-col {
    width: 100px;
    padding-bottom: 7px;
    font-size: 86%;

}
.wwmap-river-menu .report-col {

}

.wwmap-report-list ul {
    font-size: 70%;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
.wwmap-report-list ul li {
    margin-bottom: 5px;
}

.wwmap-river-download-table tr td:first-child {
    padding-right: 20px;
    font-weight: bold;
}

.wwmap-river-download-table td {
    vertical-align: top;
}

.wwmap-river-menu .title {
    font-weight: bold;
    margin-right: 11px;
}


.wwmap-river-menu td {
    vertical-align: top;
}


.wwmap-river-menu .reports a {
  font-size: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  vertical-align: top;
  display: inline-block;
}

.wwmap-river-menu .reports {
    column-count: 3;
    margin-top:0;
    padding-left: 20px;
    width: 620px;
}

.wwmap-river-menu .reports li {
    list-style-type: none;
    max-width: 200px;
}

.wwmap-river-menu .wwmap-legend {
;}

.wwmap-legend {
    padding: 5px;
}

.wwmap-legend div {
    display: inline;
    padding: 3px;
    color: #252525;
    font-size: 80%;
    opacity: 0.2;
}

.wwmap-legend .cat0:before {
    content: 'Неизв. кс';
}
.wwmap-legend .cat0 {
    background: rgb(187, 187, 187);
}

.wwmap-legend .cat1:before {
    content: '1кс';
}
.wwmap-legend .cat1 {
    background: rgb(0, 255, 249);
}

.wwmap-legend .cat2:before {
    content: '2кс';
}
.wwmap-legend .cat2 {
    background: rgb(60, 255, 0);
}

.wwmap-legend .cat3:before {
    content: '3кс';
}
.wwmap-legend .cat3 {
    background: rgb(252, 255, 23);
}

.wwmap-legend .cat4:before {
    content: '4кс';
}
.wwmap-legend .cat4 {
    background: rgb(255, 177, 0);
}

.wwmap-legend .cat5:before {
    content: '5кс';
}
.wwmap-legend .cat5 {
    background: rgb(255, 0, 0);
}

.wwmap-legend .cat6:before {
    content: '6кс';
}
.wwmap-legend .cat6 {
    background: rgb(204, 0, 0);
}
.wwmap-legend .cat-bold {
    opacity: 0.8
}

.wwmap-gallery-div {
    height: auto;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    /*white-space: nowrap;*/
}

.wwmap-gallery-img {
    display: inline-block;
    width: 150px;
    margin-bottom: 3px;
    vertical-align: top;
}

.wwmap-gallery-youtube {
    display: inline-block;
    height: 112px;
}

.wwmap-gallery-youtube-preview {
    display: block;
    background-position: center center;
    background-size: contain;
    width: 150px;
    height: 112px;
}

.wwmap-play-btn {
    display: block;
    width: 150px;
    height: 112px;
    position: relative;
    top: -112px;
    z-index: 1;
    background: url("../img/youtube-play.png") no-repeat;
    background-position: center center;
    background-size: 50px;
}

.wwmap-measure-btn-pressed {
    /*box-shadow: 0 5px gray;*/
    /*transition: all 2s linear;*/
    background-color: #ffdb4d;
}