<script type="text/x-jquery-tmpl" id="report_popup_template">
<div class="wwmap-popuptext">
    <form>
        <input type="hidden" id="object_id" name="object_id" value="${object_id}"/>
        <label for="object_title">Порог</label>
        <input type="text" id="object_title" name="object_title" readonly style="margin-bottom:10px;" value="${object_title}"/><br/>
        <label for="title">Река</label>
        <input type="text" id="title" name="title" readonly style="margin-bottom:10px;" value="${title}"/><br/>
        <input type="hidden" id="user" name="user" value="${user}"/>

        <label for="comment" style="width:100%; padding-right: 10px;">Исправления происходят в ручном режиме и после проверки. Пожалуйста,
            расскажите коротко,
            что не так. Будет полезным добавить источники информации (отчёты, например) и указать реальные координаты
            точки.
            <strong>Оставьте прямо в тексте e-mail, ссылку на профиль Вконтакте или что-нибудь ещё для обратной связи</strong> на случай, если у меня возникнет вопрос.</label><br/>
        <textarea id="comment" name="comment" rows="20" maxlength="4000"
                  style="margin-top:10px; margin-bottom:20px; " autofocus></textarea>
        <input type="submit" value="Отправить" width="600px; align: center;"/>
        <input type="button" name="cancel" value="Отмена" width="600px; align: center;"/>
    </form>
</div>
</script>

<script type="text/x-jquery-tmpl" id="info_popup_template">
<div class="wwmap-popuptext" style="width:1000px;">
    <h3>Что это такое?</h3>
    <p>Это карта порогов для водного туризма с описаниями, категориями, ссылками на отчёты и выгрузкой GPX-файлов в
        навигатор. </p>
    <h3>Как добавить новые препятствия на карту?</h3>
    <ol>
        <li>Зайти на сайт <a target="_blank" href="https://wwmap.ru">wwmap.ru</a></li>
        <li>В правом верхнем углу нажать кнопку "Авторизоваться через Яндекс, Google или ВК" (для этого должна быть учётная запись на Яндексе или страничка ВКонтакте). Конечно, если вы уже не авторизованы.</li>
        <li>Сообщить об этом мне по электронной почте <a class="email-link" href=""></a> или любым другим известным вам способом (только в первый раз, после авторизации)</li>
        <li>Подождать немного, пока я добавлю права на редактирование (опять же только в первый раз). Возможно, например, если мы не знакомы, мне захочется сначала побеседовать.</li>
        <li>Воспользоваться встроенным редактором точек и рек (появится после прохождения предыдущего пункта)</li>
    </ol>
    <h3>Как ещё помочь развитию карты?</h3>
    <ol>
        <li>Рассказать про открытые библиотеки отчётов по водному туризму и способы автомтизированного анализа их
            отчётов
        </li>
        <li>Разместить карту у себя на сайте. Как это сделать, описано <a target="_blank"
                                                                          href="https://github.com/and-hom/wwmap/blob/master/INTEGRATION_ru.md">тут</a>
        </li>
        <li>Помочь в разработке</li>
    </ol>
    <h3>Как связаться с разработчиком?</h3>
    <p>По всем свящанным с картой вопросам нужно писать по электронной почте <a class="email-link" href=""></a>
        Также можно ознакомиться с проектом на <a target="_blank" href="https://github.com/and-hom/wwmap">github</a>,
        узнать о текущи задачах,
        предложить улучшения и предложить пулл-реквест.</p>
    <input type="button" name="cancel" value="Понятно" width="600px; align: center;"/>
</div>
</script>

<script type="text/x-jquery-tmpl" id="bubble_template">
    <h3 class="popover-title">
        {%if properties.link%}<a target="_blank" href="{{properties.link}}">{{properties.title}}</a>{%else%}{{properties.title}}{%endif%}
    </h3>

    <div class="popover-content">
        <a target="_top" href="#" style="float:right;"
            onclick="show_report_popup({{properties.id}}, '{{properties.title}}', '{{properties.river_title}}'); return false">Сообщить о неточности</a>
        {%if properties.category%}<div><strong>Категория сложности:</strong>&nbsp;{{properties.category}}</div>{%endif%}
        {%if properties.river_title%}<div><strong>Река:</strong>&nbsp;{{properties.river_title}}</div>{%endif%}
        <div>{{properties.short_description}}</div>
        {%if properties.images %}&nbsp;<br/>
        <div class="wwmap-gallery-div">
            {% for img in properties.images %}
            {%if img.source=='youtube'%}
            <div class="wwmap-gallery-youtube wwmap-gallery-img">
                <a target="_blank" href="https://www.youtube.com/watch?v={{img.remote_id}}" class="wwmap-gallery-youtube-preview"
                   style="background: url('https://img.youtube.com/vi/{{img.remote_id}}/0.jpg') no-repeat; background-position: center center; background-size: contain;">
                </a>
                <a target="_blank" href="https://www.youtube.com/watch?v={{img.remote_id}}" class="wwmap-play-btn"></a>
            </div>
            {%else%}
            <a data-lightbox="img-set-{{properties.id}}" target="_blank" href="{{img.url}}"><img class="wwmap-gallery-img" src="{{img.preview_url}}"/></a>
            {%endif%}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="popover-footer">
    </div>
</script>

<script type="text/x-jquery-tmpl" id="rivers_template">
<div class="wwmap-river-menu">
    {%each rivers%}
        <div class="wwmap-river-menu-item"><div class="wwmap-river-menu-title">
            <a href="" style="padding-left:10px;" onclick="show_river_info_popup(${id}); return false;">${title}</a>
        </div><div class="wwmap-river-menu-controls">
            <a href="" style="padding-left:10px;" onclick="show_map_at(${bounds}); return false;"><img src="https://wwmap.ru/img/locate.png" width="25px" alt="Показать на карте" title="Показать на карте"/></a>
            {%if canEdit%}
                <a href="https://wwmap.ru/editor.htm#${region.country_id},${region.id},${id}" target="_blank" style="margin-left:-6px;"><img src="https://wwmap.ru/img/edit.png" width="25px" alt="Редактор" title="Редактор"/></a>
            {%/if%}
        </div></div>
    {%/each%}
</div>
</script>

<script type="text/x-jquery-tmpl" id="river_desc_template">
    <div class="wwmap-popuptext" style="width:1200px; height:700px;position: relative; overflow-x:hidden;">
        <div style="float:right; width: 45%; height:100%; padding-left: 25px;">
            {%if props.vodinfo_sensor%}
            <h3>Уровень воды сейчас</h3>
            <img src="http://gis.vodinfo.ru/informer/draw/v2_${props.vodinfo_sensor}_400_300_30_ffffff_110_8_7_H_none.png" style="margin-bottom:20px; margin-right:20px;"/>
            {%/if%}
            <h3>Отчёты</h3>
            <div class="wwmap-report-list">
                <ul>
                    {%each reports%}
                    <h4>${source}</h4>
                    {%each reports%}
                    <li><a target="_blank" href="${url}" title="${title}"><img src="${source_logo_url}"/>&nbsp;{%if year>1%}<strong>${year}&nbsp;</strong>{%/if%}${title}</a></li>
                    {%/each%}
                    {%/each%}
                </ul>
            </div>
        </div>
        <div style="margin-bottom: 20px;">
            <h3>${title}{%if canEdit%}&nbsp;<a href="https://wwmap.ru/editor.htm#${region.country_id},${region.id},${id}" target="_blank" style="padding-left: 20px;"><img src="https://wwmap.ru/img/edit.png" width="25px" alt="Редактор" title="Редактор"/></a>{%/if%}</h3>
            {%if region.id>0 %}<div style="margin-top:-11px; margin-bottom:8px; font-size:70%;color:grey">${region.title}</div>{%/if%}
            <div style="font-size:80%;"><img style="width: 16px; margin-bottom: 1px;" src="https://wwmap.ru/img/cat${max_category}-fill.png" title="${max_category} к.с."/>&nbsp;&nbsp;${max_category}&nbsp;к.с. - Максимальная категория препятствий</div>
            <div style="font-size:80%;"><img style="width: 16px; margin-bottom: 1px;" src="https://wwmap.ru/img/cat${avg_category}-fill.png" title="${avg_category} к.с."/>&nbsp;&nbsp;${avg_category}&nbsp;к.с. - Минимальная категория трёх самых сложных препятствий</div>
            <div style="margin-top:11px; text-align: justify;">${description}</div>
        </div>
        <div style="margin-bottom: 20px;">
            {%each imgs%}
            <a data-lightbox="river-img-set-{{id}}" data-title="${spot_title}" data-alt="${spot_title}" target="_blank" href="${url}"><img class="wwmap-gallery-img" src="${preview_url}" title="${spot_title}" alt="${spot_title}"/></a>
            {%/each%}
        </div>
        <div style="margin-bottom: 20px;">
            {%each videos%}
                    <iframe width="304" height="200"
                            src="https://www.youtube.com/embed/${remote_id}"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                    style="margin-right: 2px; margin-bottom: 2px;"></iframe>
            {%/each%}
            <a target="_blank" href="https://www.youtube.com/results?search_query=${search_query}" style="display:block;">Поискать видео на Youtube</a>
        </div>
        {%if weather_point %}
        <div style="margin-bottom: 20px;">
            <a target="_blank" href="https://yandex.ru/pogoda/?lat=${weather_point[0]}&lon=${weather_point[1]}">Прогноз погоды по данным Яндекс-погоды</a>
        </div>
        {%/if%}
        <div style="">
            <h3>Скачать</h3>
            <table class="wwmap-river-download-table" style="width: auto;">
                <tr>
                    <td><label for="gpx">GPX для навигатора с русскими названиями</label></td>
                    <td><a id="gpx" href="${apiUrl}/${id}" style="padding-right:10px;" alt="Скачать GPX с точками порогов">GPX</a></td>
                </tr>
                <tr>
                    <td><label for="gpx_en">GPX для навигатора без поддержки русских букв</label></td>
                    <td><a id="gpx_en" href="${apiUrl}/${id}?tr=true" alt="Скачать GPX с точками порогов">GPX<sub>en</sub></a></td>
                </tr>
                {%if props.export_pdf%}
                <tr>
                    <td><label for="pdf_desc">Краткое описание для печати</label></td>
                    <td><a id="pdf_desc" href="${html}" target="_blank" alt="Скачать описание для печати">Описание<br/>для&nbsp;печати</a></td>
                </tr>
                {%/if%}
            </table>
        </div>
    </div>
</script>