#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -d $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/img
	install -d $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/js
	install -d $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/css

	install -D -m 0644 *.htm $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/
	install -D -m 0644 img/* $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/img/
	install -D -m 0644 css/* $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/css/
	install -D -m 0644 js/* $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/js/

	install -D -m 0644 nginx.conf $$(pwd)/debian/wwmap-frontend/etc/nginx/sites-available/wwmap-frontend

	sed -i 's#apiBase = ".*"#apiBase = "https://wwmap.ru/api"#g' \
	    $$(pwd)/debian/wwmap-frontend/var/lib/wwmap/frontend/js/config.js
