<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Реки</title>
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/edit.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/auth.js"></script>
</head>
<body>

<div id="wwmap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Редактор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Что-то ещё</a>
            </li>
        </ul>
        <auth/>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3" id="left-menu">
                <ul>
                    <country v-bind:key="country.id" v-bind:country="country" v-for="country in countries"/>
                </ul>
            </div>
            <div id="editor-pane" class="col-9" style="bgcolor:red">
                <div>
                    <river-editor v-bind:visible="riverditorstate.visible" v-bind:river="riverditorstate.river"
                                  v-bind:reports="riverditorstate.reports"/>
                </div>
                <div>
                    <spot-editor v-bind:visible="spoteditorstate.visible" v-bind:spot="spoteditorstate.spot"/>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>

<!--Country component-->
<div id="country-template" style="display:none">
    <li class="menu-item country-menu-item"><a
            href="#" v-on:click='changeExpandState()' class="title-link btn btn-outline-success">{{ country.title }}</a>
        <ul>
            <region v-bind:key="region.id" v-bind:region="region" v-for="region in regions"/>
        </ul>
        <ul>
            <li>
                <ul>
                    <river v-bind:key="river.id" v-bind:river="river" v-for="river in rivers"/>
                </ul>
            </li>
        </ul>
    </li>
</div>

<script type="text/javascript">

    Vue.component('country', {
        props: ['country'],
        template: document.getElementById('country-template').innerHTML,
        data: function() {
            return {
                regions: [],
                rivers: [],
                expand:function () {
                    this.regions = getRegions(this.country.id)
                    this.rivers = getRiversByCountry(this.country.id)
                },
                collapse:function () {
                    this.regions=[]
                    this.rivers=[]
                },
                changeExpandState:function(){
                    if (this.rivers.length==0 && this.regions.length==0) {
                        this.expand();
                    } else {
                        this.collapse();
                    }
                }
            }
        }
    });



</script>
<!--End of country component-->

<!--Region component-->
<div id="region-template" style="display:none">
    <li class="menu-item region-menu-item"><a href="#" v-on:click='changeExpandState()'
                                              class="title-link btn btn-outline-secondary">{{ region.title }}</a>
        <ul>
            <river v-bind:key="river.id" v-bind:river="river" v-for="river in rivers"/>
        </ul>
    </li>
</div>

<script type="text/javascript">
    Vue.component('region', {
        props: ['region'],
        template: document.getElementById('region-template').innerHTML,
        data: function () {
            return {
                rivers: [],
                expand:function () {
                    this.rivers = getRiversByRegion(-1, this.region.id)
                },
                collapse:function () {
                    this.rivers=[]
                },
                changeExpandState:function(){
                    if (this.rivers.length==0) {
                        this.expand();
                    } else {
                        this.collapse();
                    }
                }
            }
        },
    });



</script>
<!--End of region component-->

<!--River component-->
<div id="river-template" style="display:none">
    <li class="menu-item river-menu-item"><a href="#" v-on:click='changeExpandState();selectRiver();'
                                             class="title-link btn btn-outline-info">{{ river.title }}</a>
        <ul>
            <li class="menu-item spot-menu-item" v-on:click.stop="selectSpot(spot)" v-for="spot in spots"><a href="#"
                                                                                                             class="title-link btn btn-outline-primary">{{spot.title}}</a>
            </li>
        </ul>
    </li>
</div>

<!--End of river component-->
<script type="text/javascript">
    Vue.component('river', {
        props: ['river'],
        template: document.getElementById('river-template').innerHTML,
        data: function () {
            return {
                spots: [],
                expand:function() {
                    this.spots = getSpots(this.river.id)
                },
                collapse:function () {
                    this.spots=[]
                },
                changeExpandState:function(){
                    if (this.spots.length==0) {
                        this.expand();
                    } else {
                        this.collapse();
                    }
                },
                selectSpot:function(spot) {
                    app.spoteditorstate.visible = false
                    app.riverditorstate.visible=false;

                    app.spoteditorstate.visible=true;
                    app.spoteditorstate.spot=spot
                },
                selectRiver:function() {
                    app.spoteditorstate.visible = false
                    app.riverditorstate.visible=false;

                    app.riverditorstate.river = getRiver(this.river.id)
                    app.riverditorstate.reports=getReports(this.river.id)
                    app.riverditorstate.visible = true
                },
            }
        },
    });



</script>


<!--Spot editor component-->
<div id="spotEditor-template" style="display:none">
    <div v-if="visible">
        <h1>{{ spot.title }}</h1>
        <table class="spot-desc">
            <tr>
                <td colspan="2">{{ spot.short_description }}</td>
                <td rowspan="2"><img :scr="spot.thumbnail"/></td>
            </tr>
            <tr>
                <td class="cell-title" colspan="2">Ориентиры: {{ spot.orient }}</td>
            </tr>
            <tr>
                <td class="cell-title">Уровень воды</td>
                <td class="cell-title">Тех. описание</td>
                <td class="cell-title" rowspan="4">Карта</td>
            </tr>
            <tr>
                <td class="cell-title">Низкая вода</td>
                <td>{{ spot.low_water_desc }}</td>
            </tr>
            <tr>
                <td class="cell-title">Средняя вода</td>
                <td>{{ spot.medium_water_desc }}</td>
            </tr>
            <tr>
                <td class="cell-title">Высокая вода</td>
                <td>{{ spot.high_water_desc }}</td>
            </tr>
            <tr>
                <td class="cell-title" colspan="2">Подход/выход</td>
                <td rowspan="4">
                    Координаты:<br/>Широта:&nbsp;{{ spot.point[1] }}
                    <br/>Долгота:&nbsp;{{ spot.point[0] }}
                    <br/>
                    <br/>
                    К.с. нв/св/вв:&nbsp;{{ spot.low_water_category }}/{{ spot.medium_water_category
                    }}/{{ spot.high_water_category }}
                    <div v-if="spot.category!='0' && spot.category!='-1'">К.с. по классификатору: {{ spot.category }}
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2">{{ spot.point.approach }}</td>
            </tr>
            <tr>
                <td class="cell-title" colspan="2">Страховка</td>
            </tr>
            <tr>
                <td colspan="2">{{ spot.point.safety }}</td>
            </tr>
        </table>
        <h2>Схемы</h2>
        <h2>Фото галерея</h2>
        <h2>Видео</h2>
    </div>
</div>

<script type="text/javascript">
    Vue.component('spot-editor', {
        props: ['spot', "visible"],
        template: document.getElementById('spotEditor-template').innerHTML,
    });



</script>
<!--End of spot editor component-->


<!--river editor component-->
<div id="river-editor-template" style="display:none">
    <div v-if="visible">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" v-on:click="editMode=!editMode">{{getEditModeButtonTitle()}}
            </button>
            <button type="button" class="btn btn-success" v-on:click="save()">Сохранить</button>
            <button type="button" class="btn btn-secondary" v-on:click="reload()">Отменить</button>
        </div>

        <input v-if="editMode" :value="river.title" style="display:block"/>
        <h1 v-else>{{ river.title }}</h1>
        <dl>
            <dt>Регион:</dt>
            <dd>
                <div v-if="editMode">
                    <select v-model="river.region.id">
                        <option v-for="region in regions" v-bind:value="region">{{region.title}}</option>
                    </select>
                </div>
                <div style="padding-left:40px;" v:else>
                    {{river.region.title}}
                </div>
            </dd>
            <dt>Алиасы:</dt>
            <dd>
                <div v-if="editMode">
                    <textarea rows="10" cols="120" style="resize: none; padding-left:40px;">{{ river.aliases.join('\n') }}</textarea>
                </div>
                <ul v-else>
                    <li v-for="alias in river.aliases">{{alias}}</li>
                </ul>
            </dd>
            <dt>Отчёты:</dt>
            <dd>
                <ul>
                    <li v-for="report in reports"><a target="_blank" :href="report.url">{{report.title}}</a></li>
                </ul></dd>
        </dl>

    </div>
</div>

<script type="text/javascript">
    Vue.component('river-editor', {
        props: ['river', 'reports', 'visible'],
        template: document.getElementById('river-editor-template').innerHTML,
        data:function() {
            return {
                editMode: false,
                getEditModeButtonTitle: function() {
                    return this.editMode ? 'Просмотр' : 'Редактирование';
                },
                save:function() {
                },
                reload:function() {
                    this.river = getRiver(this.river.id)
                },
                regions: getAllRegions()
            }
        }
    });



</script>
<!--End of river editor component-->

<!--Auth component-->
<div id="auth-template" style="display:none">
    <div class="auth" v-if="userInfo">
        <div>Привет, {{userInfo.first_name}}&nbsp;{{userInfo.last_name}}!</div>
        <a href="javascript:clearToken(); location.reload();">Выход</a>
    </div>
    <div class="auth" v-else>
        <div>Здравствуйте! Для редактирования надо</div>
        <a href="javascript:forceRedirect();">авторизоваться через Яндекс</a>
    </div>
</div>
<script type="text/javascript">
    Vue.component('auth', {
        template: document.getElementById('auth-template').innerHTML,
        data: function() {
            return {
                userInfo: getAuthorizedUserInfoOrNull()
            }
        }
    });

</script>
<!--End of auth component-->

<script type="text/javascript">
    var app = new Vue({
        el: '#wwmap',
        data: {
          countries: getCountries(),
          "spoteditorstate": {
            "visible": false
          },
          "riverditorstate": {
            "visible": false
          }
        }
    })



</script>

</body>
</html>