<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Редактор</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-select@2.4.0/dist/vue-select.js"></script>
    <script type="text/javascript" src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!--gallery-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/blueimp-gallery@2.27.0/css/blueimp-gallery.min.css">
    <script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-helper.js"></script>
    <script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery.js"></script>
    <script type="text/javascript"
            src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery-fullscreen.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-gallery@1.4.0/dist/js/vue-gallery.min.js"></script>
    <!--end of gallery-->
    <script src="https://unpkg.com/vue-upload-component"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>

    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>
    <script type="text/javascript" src="js/auth.js"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script type="text/javascript" src="js/map-common.js"></script>
</head>
<body>

<div id="wwmap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Редактор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map.htm">Карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="refs.htm">Сайты</a>
            </li>
        </ul>
        <auth/>
    </nav>

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-3" id="left-menu">
                <ul>
                    <country v-bind:key="country.id" v-bind:country="country" v-for="country in countries"/>
                </ul>
            </div>
            <div id="editor-pane" class="col-9" style="bgcolor:red;">
                <div>
                    <region-editor v-if="regioneditorstate.visible" v-bind:region="regioneditorstate.region"
                                   v-bind:reports="regioneditorstate.reports"/>
                </div>
                <div>
                    <river-editor v-if="rivereditorstate.visible" v-bind:river="rivereditorstate.river"
                                  v-bind:reports="rivereditorstate.reports"/>
                </div>
                <div>
                    <spot-editor v-if="spoteditorstate.visible" v-bind:initial-spot="spoteditorstate.spot"/>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>


<script type="text/javascript">
    Vue.component('v-select', VueSelect.VueSelect)
    Vue.component('gallery', VueGallery)
    Vue.component('file-upload', VueUploadComponent)

    Vue.component('ask', httpVueLoader('components/ask.vue'))
    Vue.component('auth', httpVueLoader('components/auth.vue'))
    Vue.component('ya-map-location', httpVueLoader('components/ya-map-location.vue'))
    Vue.component('img-upload', httpVueLoader('components/img-upload.vue'))
    Vue.component('category', httpVueLoader('components/category.vue'))

    Vue.component('river', httpVueLoader('components/river.vue'))
    Vue.component('region', httpVueLoader('components/region.vue'))
    Vue.component('country', httpVueLoader('components/country.vue'))

    Vue.component('region-editor', httpVueLoader('components/region-editor.vue'))
    Vue.component('river-editor', httpVueLoader('components/river-editor.vue'))
    Vue.component('spot-editor', httpVueLoader('components/spot-editor.vue'))

    var app = new Vue({
        el: '#wwmap',
        data: {
          countries: getCountries(),
          regions: getAllRegions(),
          "spoteditorstate": {
            "visible": false,
            "editMode": false,
          },
          "rivereditorstate": {
            "visible": false,
            "editMode": false,
          },
          "regioneditorstate": {
            "visible": false,
            "editMode": false,
          },
        }
    })

</script>

</body>
</html>