<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Карта</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="https://wwmap.ru/css/map.v2.css">
    <link rel="stylesheet" href="css/map.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">


    <script type="text/javascript" src="https://wwmap.ru/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://wwmap.ru/js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="https://wwmap.ru/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script type="text/javascript" src="https://wwmap.ru/js/config.js"></script>
    <script type="text/javascript" src="https://wwmap.ru/js/map.v2.js"></script>

    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/auth.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
</head>
<body>

<div id="vue-app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" v-if="userInfo!=null">
                <a class="nav-link" href="editor.htm">Редактор</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Карта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="refs.htm">Сайты</a>
            </li>
            <li class="nav-item" v-if="admin()">
                <a class="nav-link" href="users.htm">Пользователи</a>
            </li>
        </ul>
        <auth></auth>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div id="wwmap-container" style="width:100%; height: 700px; padding-bottom:17px;"></div>
            </div>
            <div class="col-4">
                <div id="wwmap-rivers" class="wwmap-river-menu"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     initWWMap("wwmap-container", "wwmap-rivers");

     Vue.component('auth', httpVueLoader('components/auth.vue'))

     var app = new Vue({
        el: '#vue-app',
        data: {
                userInfo: getAuthorizedUserInfoOrNull(),
                admin: function() {
                    userInfo = getAuthorizedUserInfoOrNull()
                    return userInfo && userInfo.roles && userInfo.roles.indexOf("ADMIN") > -1;
                },
        }
    })
  });

</script>
</body>
</html>