#!/usr/bin/make -f
%:
	dh $@

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)

build:
	go build -ldflags "-X main.version=$(DEB_VERSION)"

override_dh_auto_install:
	install -D -m 0755 t-cache $$(pwd)/debian/wwmap-t-cache/usr/bin/wwmap-t-cache
	install -D -m 0644 etc/wwmap-t-cache.systemd $$(pwd)/debian/wwmap-t-cache/lib/systemd/system/wwmap-t-cache.service
