#!/usr/bin/make -f
%:
	dh $@

pre-build:
	go install github.com/go-bindata/go-bindata
	cd ../lib/dao/queries; go-bindata -pkg queries .

build-notifier:
	cd notifier && go-bindata *-template* && go build

TEMPLATE_FILES=spot-page-template.htm river-page-template.htm region-page-template.htm country-page-template.htm root-page-template.htm decorator.htm
build-catalog-sync:
	cd catalog-sync && \
	mkdir -p bindata && \
	go-bindata -pkg bindata -o bindata/bindata.go email-template && \
	cd huskytm/templates && \
	go-bindata -pkg templates $(TEMPLATE_FILES) && \
	cd ../../ && \
	cd pdf/templates && \
	go-bindata -pkg templates $(TEMPLATE_FILES) && \
	cd ../../ && \
	go build

build-db-clean:
	cd db-clean && go build

build-spot-sort:
	cd spot-sort && go build

build-meteo:
	cd meteo && go build

build-level:
	cd vodinfo-eye && cd pattern && go-bindata -pkg pattern . && cd .. && go build

build-river-tracks-bind:
	cd river-tracks-bind && go build

build: pre-build build-notifier build-catalog-sync build-db-clean build-spot-sort build-meteo build-level build-river-tracks-bind

override_dh_auto_install:
	install -d $$(pwd)/debian/wwmap-cron/usr/share/wwmap/backup/

	install -D -m 0755 notifier/notifier $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-notifier
	install -D -m 0755 backup/backup.sh $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-backup
	install -D -m 0644 backup/tables.list $$(pwd)/debian/wwmap-cron/usr/share/wwmap/backup/tables.list
	install -D -m 0755 catalog-sync/catalog-sync $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-catalog-sync
	install -D -m 0755 db-clean/db-clean $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-db-clean
	install -D -m 0755 spot-sort/spot-sort $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-spot-sort
	install -D -m 0755 meteo/meteo $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-meteo
	install -D -m 0755 vodinfo-eye/vodinfo-eye $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-vodinfo-eye
	install -D -m 0755 river-tracks-bind/river-tracks-bind $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-river-tracks-bind

	install -D -m 0755 debian/wwmap-logrotate.d $$(pwd)/debian/wwmap-cron/etc/logrotate.d/wwmap-cron
