#!/usr/bin/make -f
%:
	dh $@

build-notifier:
	GOPATH="$(HOME)/.go" go install github.com/go-bindata/go-bindata
	cd notifier; $(HOME)/.go/bin/go-bindata email-template; GOPATH="$(HOME)/.go" go build

build: build-notifier

override_dh_auto_install:
	install -D -m 0755 notifier/notifier $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-notifier
	install -D -m 0755 backup/backup.sh $$(pwd)/debian/wwmap-cron/usr/bin/wwmap-backup
